.link {
    cursor: pointer;
    display: block;
    border: 3px solid black;

    font-size: 32px;
    padding: 20px;
    border-radius: 20px;

    text-decoration: none;
    color: black;
    transition: 0.4s;
    margin: 16px 0;
}
.link:hover {
    background-color: rgb(205, 211, 218);
}
img {
    width: 32px;
    vertical-align: middle;
}